*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    background-color: #Bc6c25;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s ease;
    padding: 40px 200px;
}
header .navigation{
    z-index: 1000;
    position: relative;
}
header .navigation .navigation-items a{
    position: relative;
    color: #fff;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .navigation .navigation-items a:before{
    position: absolute;
    background: #fff;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    content: '';
    transition: 0.3s ease;
}
header .navigation .navigation-items a:hover:before{
    width: 100%;
}

@media(max-width:1040px){
    header{
        padding: 20px 30px;
    }
    .home .media-icons{
        right: 15px;
    }
    header .navigation {
        display: none;
    }
    
    header .navigation.active {
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
        width: 600px;
        max-width: 90%;
        margin: 20px;
        padding: 40px;
        flex-direction: column;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 /20%);
        z-index: 1001;
        position: fixed;
        top: 0;
        left: 0;
    }
    
    header .navigation .navigation-items a {
        color: #222;
        font-size: 1.2em;
        margin: 20px;
    }
    
    header .navigation .navigation-items a:before {
        background: #222;
        height: 5px;
    }
    
    header .navigation.active .navigation-items{
        background: #fff;
        width: 600px;
        max-width: 600px;
        margin:20px;
        padding: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 5px;
        box-shadow: 0 5px 25px rgb(1 1 1 /20%);
    }
    .menu-btn {
        background: url(/images/menu.png) no-repeat;
        background-size: 30px;
        background-position: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
        transition: 0.3s ease;
    }
    
    .menu-btn.active {
        z-index: 1003;
        background: url(/images/close.png) no-repeat;
        background-size: 25px;
        background-position: center;
        transition: 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

section {
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 40px auto;
}

section ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

section ul li {
  list-style: none;
  background: #eee;
  padding: 12px 20px;
  margin: 5px;
  letter-spacing: 1px;
  cursor: pointer;
}

section ul li.active {
  background: #03a9f4;
  color: #fff;
}

.product {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.product .itemBox {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 5px;
  display: block;
}

.product .itemBox.hide {
  display: none;
}

.product .itemBox img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.whatsapp-container{
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
}
.whatsapp-logo{
    width: 50px;
    height: 50px;
    cursor: pointer;
    border-radius: 50%;
}

.container-2 {
    font-family: 'Oswald',sans;
    background-color: whitesmoke;
    color: black;
    padding: 20px 0; 
  }
  
  /* Style for the footer navigation links */
  .nav.justify-content-center {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin-right: 20px; 
  }
  
  .nav-link {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }
  .nav-link:hover{
    border-bottom: 2px solid black;
    transition: 1s ease-in;
  }
  
  /* Style for the copyright notice */
  .text-body-secondary {
    margin-top: 20px;
    text-align: center;
  }

